.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.containerInline {
  flex-direction: row;
}

.textInput {
  font-size: 2em;
}

.containerInline .textInput {
  font-size: 1em;
}
