services:
  # Kafka
  kafka:
    image: apache/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    volumes:
      - kafka-data:/var/lib/kafka/data
    environment:
      KAFKA_ENABLE_KRAFT: yes
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 1
      KAFKA_HEAP_OPTS: -Xmx512M -Xms256M

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
    depends_on:
      - kafka

  # PostgreSQL
  postgres:
    image: postgres:14
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRESQL_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRESQL_PASSWORD}
      POSTGRES_DB: ${POSTGRESQL_DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  # Auth Service
  auth-service:
    build: ./backend/auth-service
    container_name: auth-service
    hostname: ${AUTH_SERVICE_HOST}
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRATION_MS=${JWT_EXPIRATION_MS}
      - JWT_REFRESH_TOKEN_EXPIRATION_MS=${JWT_REFRESH_TOKEN_EXPIRATION_MS}
      - SERVER_PORT=${AUTH_SERVICE_PORT}
      - DATABASE_USERNAME=${POSTGRESQL_USERNAME}
      - DATABASE_PASSWORD=${POSTGRESQL_PASSWORD}
      - DATABASE_URL=${DATABASE_JDBC_URL}
      - FRONTEND_ORIGIN=${FRONTEND_ORIGIN}
      - MANAGEMENT_SERVER_PORT=9000
      - OTEL_RESOURCE_ATTRIBUTES=service.name=auth-service
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_METRICS_EXPORTER=none
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
    depends_on:
      - postgres
      - otel-collector

  # URL Service
  url-service:
    build: ./backend/url-service
    container_name: url-service
    hostname: ${URL_SERVICE_HOST}
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - KAFKA_URL=kafka:9092
      - DATABASE_USERNAME=${POSTGRESQL_USERNAME}
      - DATABASE_PASSWORD=${POSTGRESQL_PASSWORD}
      - DATABASE_URL=${DATABASE_JDBC_URL}
      - SERVER_PORT=${URL_SERVICE_PORT}
      - MANAGEMENT_SERVER_PORT=9000
      - KAFKA_TOPIC_CREATION_PARTITION_COUNT=1
      - KAFKA_TOPIC_CREATION_REPLICA_COUNT=1
      - OTEL_RESOURCE_ATTRIBUTES=service.name=url-service
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_METRICS_EXPORTER=none
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
    depends_on:
      - postgres
      - kafka
      - otel-collector

  # Redirector Service
  redirector-service:
    build: ./backend/redirector-service
    container_name: redirector-service
    hostname: ${REDIRECTOR_SERVICE_HOST}
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - KAFKA_URL=kafka:9092
      - DATABASE_USERNAME=${POSTGRESQL_USERNAME}
      - DATABASE_PASSWORD=${POSTGRESQL_PASSWORD}
      - DATABASE_URL=${DATABASE_JDBC_URL}
      - SERVER_PORT=${REDIRECTOR_SERVICE_PORT}
      - MANAGEMENT_SERVER_PORT=9000
      - KAFKA_TOPIC_CREATION_PARTITION_COUNT=1
      - KAFKA_TOPIC_CREATION_REPLICA_COUNT=1
      - OTEL_RESOURCE_ATTRIBUTES=service.name=redirector-service
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_METRICS_EXPORTER=none
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
    depends_on:
      - postgres
      - kafka
      - otel-collector

  # Analytics Service
  analytics-service:
    build: ./backend/analytics-service
    container_name: analytics-service
    hostname: ${ANALYTICS_SERVICE_HOST}
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - KAFKA_URL=kafka:9092
      - DATABASE_USERNAME=${POSTGRESQL_USERNAME}
      - DATABASE_PASSWORD=${POSTGRESQL_PASSWORD}
      - DATABASE_URL=${DATABASE_JDBC_URL}
      - SERVER_PORT=${ANALYTICS_SERVICE_PORT}
      - MANAGEMENT_SERVER_PORT=9000
      - OTEL_RESOURCE_ATTRIBUTES=service.name=analytics-service
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_METRICS_EXPORTER=none
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
    depends_on:
      - postgres
      - kafka
      - otel-collector

  api-gateway:
    build: ./backend/api-gateway
    container_name: api-gateway
    ports:
      - "8000:8000"
      - "8100:8100"
      # - "8001:8001"
      # - "8002:8002"
    environment:
      KONG_PROXY_LISTEN: 0.0.0.0:8000
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
      KONG_MANAGER: "on"
      KONG_ROUTER_FLAVOR: "expressions"
      KONG_STATUS_LISTEN: 0.0.0.0:8100
      KONG_DATABASE: "off"
      KONG_VAULTS: "env"
      KONG_PLUGINS: bundled,jwt,jwt-claims-headers
      JWT_SECRET: ${JWT_SECRET}
      CORS_ALLOWED_ORIGINS: ${CORS_ALLOWED_ORIGINS}
      KONG_LOG_LEVEL: debug
      KONG_TRUSTED_IPS: 0.0.0.0/0
      KONG_REAL_IP_HEADER: "X-Forwarded-For"
      KONG_REAL_IP_RECURSIVE: "on"
      KONG_TRACING_INSTRUMENTATIONS: all
      KONG_TRACING_SAMPLING_RATE: 1.0
      AUTH_SERVICE_HOST: ${AUTH_SERVICE_HOST}
      AUTH_SERVICE_PORT: ${AUTH_SERVICE_PORT}
      URL_SERVICE_HOST: ${URL_SERVICE_HOST}
      URL_SERVICE_PORT: ${URL_SERVICE_PORT}
      REDIRECTOR_SERVICE_HOST: ${REDIRECTOR_SERVICE_HOST}
      REDIRECTOR_SERVICE_PORT: ${REDIRECTOR_SERVICE_PORT}
      ANALYTICS_SERVICE_HOST: ${ANALYTICS_SERVICE_HOST}
      ANALYTICS_SERVICE_PORT: ${ANALYTICS_SERVICE_PORT}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8100/status"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s
    depends_on:
      - otel-collector

  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    volumes:
      - ./otel-collector-config.yaml:/etc/otelcol-contrib/config.yaml
    command: ["--config=/etc/otelcol-contrib/config.yaml"]

  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    ports:
      - "16686:16686"
      - "4317:4317"
      - "4318:4318"
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    depends_on:
      - otel-collector

volumes:
  pgdata:
  kafka-data:
