server:
  port: ${SERVER_PORT}
  forward-headers-strategy: framework

spring:
  threads:
    virtual:
      enabled: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope: profile, email

        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub

  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false

jwt:
  secret: ${JWT_SECRET}
  expirationMs: ${JWT_EXPIRATION_MS}
  refreshTokenExpirationMs: ${JWT_REFRESH_TOKEN_EXPIRATION_MS}

app:
  frontend-origin: ${FRONTEND_ORIGIN}

management:
  server:
    port: ${MANAGEMENT_SERVER_PORT}
  endpoints:
    web:
      exposure:
        include: health, info
  info:
    build:
      enabled: true
  endpoint:
    health:
      show-details: always
