server:
  port: ${SERVER_PORT}
  forward-headers-strategy: framework

spring:
  threads:
    virtual:
      enabled: true
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
  kafka:
    bootstrap-servers: ${KAFKA_URL}
    properties:
      security.protocol: PLAINTEXT
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

management:
  server:
    port: ${MANAGEMENT_SERVER_PORT}
  endpoints:
    web:
      exposure:
        include: health, info
  info:
    build:
      enabled: true
  endpoint:
    health:
      show-details: always

kafka:
  topic:
    creation:
      partition-count: ${KAFKA_TOPIC_CREATION_PARTITION_COUNT}
      replica-count: ${KAFKA_TOPIC_CREATION_REPLICA_COUNT}