.navbar {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-name {
  flex: 0 0 auto;
}

nav {
  display: flex;
  gap: 1rem;
}

.link {
  border-bottom: 2px solid transparent;
}

.link.active {
  border-bottom-color: inherit;
}
