server:
  port: ${SERVER_PORT}
  forward-headers-strategy: framework

spring:
  threads:
    virtual:
      enabled: true
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
  kafka:
    bootstrap-servers: ${KAFKA_URL}
    properties:
      security.protocol: ${KAFKA_SECURITY_PROTOCOL:PLAINTEXT}
      sasl.mechanism: ${KAFKA_SASL_MECHANISM:NONE}
      sasl.jaas.config: ${KAFKA_JAAS_CONFIG:null}
      sasl.client.callback.handler.class: ${KAFKA_CALLBACK_HANDLER:null}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

management:
  server:
    port: ${MANAGEMENT_SERVER_PORT}
  endpoints:
    web:
      exposure:
        include: health, info
  info:
    build:
      enabled: true
  endpoint:
    health:
      show-details: always
